name: JSON Lint

on:
  pull_request:
    paths:
      - '**.json'
  push:
    branches:
      - main
    paths:
      - '**.json'

jobs:
  json-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - uses: j178/prek-action@v1
